@import "colors";
#header_country-selected {
    background: linear-gradient(263.21deg, $primary-color-light 38.45%, $primary-color 38.6%, $primary-color 96.44%);
    padding: 100px;
    margin-top: 50px;
    h1 {
        font-weight: bold;
        font-size: 24px;
        color: #4f3e02;
    }
}

#select-your-country {
    h1 {
        font-weight: bold;
        font-size: 54px;

        color: #4f3e02;
    }

    .all-country-area {
        max-width:900px;
        .countries {
            display: flex;
            flex-flow: wrap;
            gap: 4rem;
            justify-content: space-evenly;
            margin: 40px auto;
            .country-box {
                $color1: saturate(
                    $color: $primary-color,
                    $amount: 60,
                );
                &:hover {
                    .country-name {
                        bottom: 0px;
                    }
                    .locked-status {
                        bottom: auto;
                        top: 0;
                        height: 100%;
                        transition: all 0.5s linear;
                    }
                }
                width: 200px;
                height: 200px;
                border-radius: 473px;
                border-radius: 50%;
                background: radial-gradient(50% 50% at 50% 50%, $color1 23.63%, $primary-light 100%);
                position: relative;
                border: 5px solid $primary-color-softlight;
                overflow: hidden;
                .country-flag {
                    width: 142px;
                    height: 142px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    object-fit: cover;
                }
                .country-name {
                    padding: 10px;
                    height: 60px;
                    width: 100%;
                    background: #c4c4c4;
                    text-align: center;
                    position: absolute;
                    left: 0px;
                    bottom: -100%;
                    transition: 0.3s cubic-bezier(0.83, 0.57, 0.07, 1.29);
                    z-index: 1;
                }
                .locked-status {
                    position: absolute;
                    height: 0;
                    width: 100%;
                    background-color: red;
                    left: 0;
                    bottom: -80%;
                    z-index: 0;
                    -webkit-transition: all 0.5s;
                    transition: all 1.5s linear;
                    padding: 40px 10px 10px 0px;
                    h4{
                        font-size:20px;
                    }
                }
            }
        }
    }
}
