@import "colors";
#FAQ-page-css {
    /* basic setup */
    $p-gd-this: linear-gradient(
        175deg,
        darken(
            $color: $primary-color-light,
            $amount: 4,
        ),
        darken($primary-color, 10%)
    );
    * {
        margin: 0;
        padding: 0;
    }

    

    /* basic setup */
    .faqs-section {
        padding: 100px 0;
    }
    .faqs-section .faq-boxes,
    .faqs-section .top-box {
        width: 80%;
        margin: auto;
    }
    .faqs-section .top-box {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-flow: wrap;
        padding: 20px;
        padding-bottom: 40px;
        background: $p-gd-this;
        border-radius: 55px;
        font-size: 20px;

        input {
            background: $primary-color-softlight;
            border: 4px solid $primary-color-light;
            box-sizing: border-box;
            border-radius: 13px;
            width: 200px;
            &::placeholder {
                font-size: 14px;
                font-weight: 500;
                color: darken($color: $primary-color, $amount: 10);
            }
            &:active,
            &:focus {
                outline: none;
            }
        }
    }
    .faqs-section .top-box label {
        color: #fff;
    }
    .faqs-section .top-box input,
    .faqs-section .top-box button {
        @extend .theme-btn;
        &:active,
        &:focus {
            outline: none;
        }
    }
    .faqs-section .top-box button {
        @extend .theme-btn;
    }
    .faqs-section .top-box button:active {
        box-shadow: none;
    }
    .faqs-section .faq-boxes .top-title {
        padding: 25px;
        text-align: center;
        color: darken($color: $primary-color, $amount: 10);
        font-size: 26px;
    }
    .faqs-section .faq-boxes .top-title::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        margin: 10px auto;
        background: $primary-color;
    }
    .faqs-section .faq-boxes .faq-box {
        padding: 15px 30px;
        width: 100%;
        background: darken($color: $primary-color, $amount: 5);
        color: $primary-light;
        margin-bottom: 30px;
        transition: 1s;
        border-radius: 45px;
    }
    .faq-box .question-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .faq-box .question-box .question {
        margin-right: 20px;
        h4 {
            font-size: 20px;
        }
    }

    .faqs-section .faq-boxes .faq-box .description {
        font-size: 20px;
        padding: 20px 0;
        width:100%;
        height:auto;
        transition: 0.6s ease-in-out;
        &.d-nai{
            height:0px;
            overflow: hidden;
            padding:0px;
            transition: 0.6s ease-in-out;
        }
    }
    .arrow-btn .button {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 15px;
        font-size: 20px;
        border: 2px solid $primary-light;
        background: none;
        transition: 0.4s;
    }
    .arrow-btn .button:hover {
        background: transparentize($color: $primary-light, $amount: 0.3);
        color: $primary-color;
    }
    .arrow-btn .button:active {
        background: $primary-light;
    }
    /* .arrow-btn .button */
}
