@import "colors";
#HNAZMUL__NAVBAR__WSLWC {
    --lg-breackPoint: 920px;
    --md-breackPoint: 600px;
    width: 100%;
    margin: auto;
    background: $primary-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 98;
    top:0px;
    width: 100%;
    left:0px;

    .HNAZMUL__WSLWC_NAV-container {
        @media screen and (min-width: 1400px) {
            max-width: 1367px;
        }
        display: flex;
        max-width: 100%;
        margin: auto;
        align-items: center;

        @media screen and (max-width: 1020px) {
            justify-content: center;
            width: 95%;
            .HNAZMUL__WSLWC_NAV-brand {
                width: 70%;
            }
            .HNAZMUL__WSLWC_NAV-toogle-icon {
                width: 30%;
                .iconify {
                    font-size: 40px;
                }
            }
        }

        .HNAZMUL__WSLWC_NAV-brand {
            @media screen and (max-width: 1020px) {
            }
        }
        .HNAZMUL__WSLWC_NAV-toogle-icon {
            display: none;

            @media screen and (max-width: 1020px) {
                display: block;
            }
        }
        .HNAZMUL__WSLWC_NAV-items-wrapper {
            margin-left: auto;
            ul.list-items-area {
                display: flex;
                list-style: none;
                width: 100%;
                margin-bottom: 0px;

                li.nav-item {
                    .nav-links {
                        color: inherit;
                        display: inline-block;
                        text-decoration: none;
                        padding: 24px 25px;
                        font-weight: 500;
                        font-size: 18px;
                        font-weight: 500;
                        color: $primary-color-dark;
                        &:hover {
                            background: $primary-color-light;
                            color: $primary-color-dark;
                        }
                    }
                }
            }
            @media screen and (max-width: 1020px) {
                position: fixed;
                width: 0%;
                height: auto;
                z-index: 100;
                left: -110%;
                transition: 0.5s;
                &.siteBar-show {
                    top: 0px;
                    left: 0px;
                    width: 80%;
                }
                ul.list-items-area {
                    flex-flow: column;
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    background:lighten($color: $primary-color-dark, $amount: 20);
                    height: 100vh;
                    overflow-y: auto;
                    direction: rtl;
                    li.nav-item {
                        text-align: left;
                        .nav-links {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .nav-items-hider {
            display: none;
            background: rgba(0, 0, 0, 0.342);
            cursor: pointer;
            &:hover {
                background: rgba(0, 0, 0, 0.534);
            }

            @media screen and (max-width: 1020px) {
                position: fixed;
                width: 100%;
                height: 100vh;
                z-index: 99;
                top: 0px;
                left: 0px;
                &.canceler-show {
                    display: block;
                }
            }
        }
    }
}
