@import "colors";

nav#HNAZMUL_Navbar_NWLSBM {
    box-shadow: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.616);
}
header#header {
    background: linear-gradient(
        263.21deg,
        lighten($primary-color-dark, 50%) 4.26%,
        lighten($primary-color-dark, 40%) 14.34%,
        lighten($primary-color-dark, 35%) 48.48%,
        lighten($primary-color-dark, 15%) 75.32%,
        lighten($primary-color-dark, 10%) 93.08%
    );
    padding: 5rem;
    margin-top: 50px;
    h1 {
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 59px;
        color:lighten($color: $primary-color-dark, $amount: 90)
    }
}

#listing-product-panel {
    width: 100%;
    background: #fbf6e8;
    height: auto;
    overflow: hidden;
    @media screen and (max-width: 676px) {
        height: auto;
    }
    & > .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        justify-content: center;

        .sitebar {
            grid-column: 1 / 25;
            background: lighten($color: $primary-color-dark, $amount: 70);
            & > .wrapper {
                width: 100%;
                height: auto;
                .tabs {
                    padding: 0px;
                    display: flex;
                    max-width: 500px;
                    margin: auto;
                    justify-content: space-between;
                    li {
                        list-style: none;
                        color:rgb(17, 33, 53);
                        padding:20px;

                    }
                }
            }
            [data-bs-toggle="tab"].active{
                position: relative;
                z-index: 1;
                text-align: center;
                background:transparent;
                &::after{
                    content: "";
                    width:100%;
                    height:3px;
                    border-radius: 20px;
                    background:red;
                    left:0px;
                    bottom:10px;
                    display: block;

                }
            }

            @media screen and (max-width: 676px) {
                grid-column: 1 / span 24;
            }
        }
        .content {
            grid-column: 3 / span 20;
            padding: 20px;
            & > .wrapper {
                width: 100%;
                @media screen and (max-width: 676px) {
                    height: auto;
                }
            }

            @media screen and (max-width: 676px) {
                grid-column: 1 / span 24;
                padding: 5px;
                & > .wrapper {
                    height: auto;
                }
            }
        }
    }
}

.vertical-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.listingCard {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: wrap;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgba(79, 62, 2, 0.24);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;

    & > div {
        &.seriel-number {
            width: 10%;
            background: $primary-color;
            @extend .vertical-center;
            h1 {
                text-align: center;
                font-size: 25px;
            }
        }
        &.title-and-content {
            width: 52%;
            @extend .vertical-center;
            padding: 10px;
            &.locked {
                position: relative;
                z-index: 1;
                .locker-area {
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    position: absolute;
                    left: 0px;
                    h1 {
                        display: flex;
                        justify-content: space-evenly;
                        height: 100%;
                        align-items: center;
                        color: white;
                    }
                }
            }
            .title-and-date {
                margin-bottom: 5px;
                h3,
                i {
                    color: $primary-color-dark;
                }
            }
            .products-rates {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                width: 95%;
                h6 {
                    color: $primary-color;
                    span {
                        color: $primary-color-dark;
                    }
                }
            }
            .show-details-btn {
                @extend .theme-btn;
                padding: 5px 10px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
        &.status {
            width: 10%;
            @extend .vertical-center;
            &.plus {
                background: transparentize($color: rgb(0, 104, 0), $amount: 0.9);
                h4 {
                    color: green;
                }
            }

            &.minus {
                background: transparentize($color: rgb(146, 1, 1), $amount: 0.9);
                h4 {
                    color: rgb(146, 1, 1);
                }
            }
        }
        &.save-btn {
            width: 10%;
            @extend .vertical-center;

            background: transparentize($color: rgb(255, 155, 155), $amount: 0.9);

            h4 {
                .iconify {
                    color: red;
                    cursor: pointer;
                }
            }
        }
        &.img {
            width: 18%;
            position: relative;
            z-index: 1;
            .locked-area{
                width:100%;
                height:100%;
                position: absolute;
                background:red;
                color:white;
                display: grid;
                place-items: center;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    @media screen and (max-width: 676px) {
        height: auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 50px);

        & > div {
            &.seriel-number {
                grid-row: 1 / 2;
                grid-column: 1 / 13;
                width: 100%;
            }
            &.title-and-content {
                width: 100%;
                grid-row: 2 / 5;
                grid-column: 1 / 13;
                width: 100%;
                .title-and-date {
                    h3 {
                        font-size: 16px;
                    }
                    i {
                        font-size: 12px;
                    }
                }

                .products-rates {
                    flex-flow: wrap;
                    h6 {
                        font-size: 12px;
                        width: 50%;
                    }
                }
            }
            &.status {
                width: 100%;
                grid-row: 5 / 7;
                grid-column: 1 / 5;
                position: relative;
                z-index: 2;
            }
            &.save-btn {
                width: 100%;
                grid-row: 5 / 7;
                grid-column: 5 / 8;
                position: relative;
                z-index: 2;
            }
            &.img {
                width: 100%;
                grid-row: 4 / 7;
                grid-column: 8 / 13;
                position: relative;
                z-index: 1;
            }
        }
    }
}
