@import "colors";
#winning_product-header {
    background: linear-gradient(263.21deg, transparentize($color: $primary-color, $amount: 0.3) 15.41%, $primary-color-light 72.53%, $primary-color 72.67%);
    padding: 6rem;
    padding-top: 9rem;
    h1 {
        font-weight: bold;
        font-size: 59px;
        color: #4f3e02;
    }
}

#filter_options_Section {
    max-width: 870px;
    margin: auto;
    background: lighten($color: $primary-color-softlight, $amount: 4);
    margin-bottom: 3rem;
    margin-top: -2rem;
    .filter-options-area {
        .filter-option-choice {
            .nav.nav-tabs {
                padding: 5px 5px 0px;
                display: flex;
                .nav-item {
                    width: 50%;
                    button {
                        width: 100%;
                        font-weight: 500;
                        font-size: 25px;
                        color: #4f3e02;
                        &.active {
                            background: $primary-color !important;
                        }
                    }
                }
            }
        }
        #filter-tabs-content {
            padding-bottom: 2rem;
            #filter-tabs-wrapper {
                display: flex;
                flex-flow: wrap row;
                gap: 40px 20px;
                padding: 20px;
                height: auto;
                box-sizing: border-box;
                padding-bottom: 40px;
                justify-content: center;

                .inputAndLavel {
                    width: 260px;
                    height: 49px;
                    display: inline-table;
                    input {
                        background: $primary-color-softlight;
                        border: 4px solid $primary-color-light;
                        box-sizing: border-box;
                        border-radius: 13px;
                        &::placeholder {
                            font-size: 14px;
                            font-weight: 500;
                            color: darken($color: $primary-color-light, $amount: 10);
                        }
                    }
                    label {
                        font-size: 16px;
                        color: $primary-color-dark;
                        font-weight: 500;
                    }
                }
            }

            h6 {
                span {
                    color: darken($color: $primary-color-light, $amount: 20);
                }
            }
        }
    }
}

#product-card-section {
    margin:1rem auto 5rem auto;
    .all-product-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px 20px;
        .Product-card {
            background: lighten($color: $primary-color-softlight, $amount: 4);
            border: 4px solid transparentize($color: $primary-color, $amount: 0.5);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -3px 12px 31px 2px rgba(29, 59, 118, 0.25);
            border-radius: 23px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                transform: translateY(-10px);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.281), -3px 12px 31px 2px rgba(29, 59, 118, 0.363);

            }
            .product-thumnail-wrapper {
                position: relative;
                width: 100%;
                height: 227px;
                z-index: 1;
                &::after{
                    position: absolute;
                    content:"";
                    width:100%;
                    height:100%;
                    display: table;
                    background: linear-gradient(359.14deg, $primary-color-light 0.67%, rgba(227, 204, 139, 0) 46.03%, rgba(196, 196, 196, 0) 97.64%);;
                    top:0px;left:0px;
                    z-index: 100;
                }
                img{
                    width: 100%;
                    height:100%;
                    object-fit: contain;
                }
            }
            .product-desc{
                color:$primary-color-dark;
                padding:20px;
                h1,h2,h4,h5,h6,h3{
                    color:$primary-color-dark;
                    span{
                        color:$primary-color;
                    }
                }
            }
        }
    }
}
